@import url('https://fonts.googleapis.com/css?family=Bangers|Roboto|Roboto+Condensed');

body {
    padding-top: 195px;
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar-brand {
    margin-top: -15px;
}
.navbar {
    font-family: 'Bangers', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 1px;
}
.thumbnail {
    width: 100px;
    vertical-align: middle;
    text-align: center;
}
td a {
    text-align: center;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: -20px;
}
th {
    text-align: center;
}

h2 {
    border-top: solid #101010 4px;
}

.modal-body img {
    width: 570px;
    
}

.modal-title {
    border-top: none;
}

button {
    margin-left: 10px;
    font-size: 14px;
    line-height: 18px;
}

.modal-buttons {
    margin-top: 30px;
}
/* Customize container */
@media (min-width: 600px) {
    .container {
        max-width: 800px;
    }
}
/* Customize container */
@media (min-width: 946px) {
    .container-fluid {
        max-width: 1024px;
    }
}